.background-block {

  background: url("/img/composition/composition_background.jpg") no-repeat center;
  background-size: cover;

  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21.6px;
  padding: 3em 0 6em 0;

  position: relative;
  z-index: -2;

  &__square {

    border: 6px solid #1d70b7;
    position: absolute;
    top: 0;
    right: 0;
    height: 230px;
    width: 230px;

    z-index: -1;

  }

}