.button {

  border: 3px #02548e solid;
  border-radius: 5px 5px;

  text-transform: uppercase;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;

  padding: 1.5em 2.5em;
  text-align: center;

  display: inline-block;
  cursor: pointer;
  margin: 2em 0 4em;

}