.icons-block {


  &__icon {

    padding: 0 1em 1em 1em;

  }

  &__text {

    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08em;
    color: #555555;


    span {

      color: #02548e;
      font-weight: bold;
    }


  }


  &__title {


    font-weight: 500;
    color: #02548e;
    font-size: 24px;
    line-height:29px;

  }

  &__subtitle {

    font-weight: bold;
    font-size: 18px;
    line-height: 21.6px;
    color: #02548e;


  }

}