.instructions-block {
  
  background-image: url("/img/instructions/background.jpg");
  background-repeat: round;

  position: relative;


  &__hand {

    position: absolute;
    z-index: 2;
    width: 40%;


    &--left {

      left: -25%;

    }

    &--right {

      right: -25%;

    }

    &--upper {

      top: 110px;

    }

    &--bottom {

      bottom: -110px;

    }


  }


  &__fracture {

    background: url("/img/instructions/fracture.png") no-repeat;
    background-size: cover;
    height: 78px;
    box-sizing: content-box;
    width: 100%;
    margin-left: -15px;
  }
  
}