.text-block {

  font-family: Roboto;
  font-size: 18px;
  line-height: 21.6px;
  color: #02548e;
  padding: 3em 0;


  h3 {
    font-weight: bold;
  }

  h4 {

    font-weight: bold;
    font-size: inherit;

  }


  &--border-topbottom {

    padding: 1em 0;
    border-top: 1px dotted #02548e;
    border-bottom: 1px dotted #02548e;
    margin-bottom: 1em;

  }

  &--border-bottom {

    border-bottom: 1px dotted #02548e;

  }

  &--padding-less {

    padding: 0;

  }

  &--margin-bottom {

    margin-bottom: 3em;

  }

  &__text {

    color: #555555;
    font-size: 14px;
    line-height: 20px;

    img {

      float: left;
      vertical-align: top;

    }

    p {

      overflow: hidden;
      padding : 0.5em 1em;
    }


  }

  &__list {

    list-style: none;


    & > * {

      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.08em;
      color: #555555;
      border-bottom: 1px dotted #02548e;
      padding: 0.5em 0;



      span {

        color: #02548e;
        font-weight: bold;
      }



    }

  }



}