/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


 .mb1 {  margin-bottom: 1em;  }
 .mb2 {  margin-bottom: 2em;  }
 .mt1 {  margin-top: 1em;  }
 .mt2 {  margin-top: 2em;  }
 .vam { display: inline-block; vertical-align: middle; float: none;}
 .vab { display: inline-block; vertical-align: bottom; float: none;}

 @for $i from 0 through 12 {
   .vert-offset-top-#{$i} {
     margin-top: #{$i}em;
   }
   .vert-offset-bottom-#{$i} {
     margin-bottom: #{$i}em;
   }
 }

 //For SASS
 .text-xs-left { text-align: left; }
 .text-xs-right { text-align: right; }
 .text-xs-center { text-align: center; }
 .text-xs-justify { text-align: justify; }

 @media (min-width: $screen-sm-min) {
     .text-sm-left { text-align: left; }
     .text-sm-right { text-align: right; }
     .text-sm-center { text-align: center; }
     .text-sm-justify { text-align: justify; }
 }

 @media (min-width: $screen-md-min) {
     .text-md-left { text-align: left; }
     .text-md-right { text-align: right; }
     .text-md-center { text-align: center; }
     .text-md-justify { text-align: justify; }
 }

@media (min-width: $screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

/*
* Custom
*/
@import "partials/app";